*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body.no-scroll {
  overflow: hidden;
}

button {
  display: block;
  padding: 0;
  background-color: unset;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  display: block;
  color: unset;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;
  min-height: 60px;

  box-shadow: 0 2px 2px -2px hsl(220, 14%, 75%);
}
.navbar__nav {
  display: none;
}
.navbar__nav a {
  padding: 36px 0;

  font-size: 14px;
  color: hsl(219, 9%, 45%);
}
.navbar__nav a:active,
.navbar__nav a:hover {
  color: black;
  box-shadow: 0 -4px 0px -1px hsl(26, 100%, 55%) inset;
}

.navbar__left-side {
  display: flex;
  align-items: center;
  gap: 5vw;
}

.navbar__right-side {
  display: flex;
  align-items: center;
  gap: 4vw;
}
.navbar__avatar {
  width: 26px;
  border-radius: 50%;
}
.navbar__avatar:active,
.navbar__avatar:hover {
  box-shadow: none;
  box-shadow: 0 0 0 2px hsl(26, 100%, 55%);
}

.icon:active,
.icon:hover {
  filter: brightness(0.2);
}
.navbar__icon-menu.active,
.navbar__icon-cart.active {
  filter: brightness(0.2);
}

.popover {
  position: absolute;
  left: 2vw;
  right: 2vw;
  transform: translateY(180px);

  background-color: white;
  box-shadow: 0 10px 30px -10px #11111166;

  border-radius: 5px;
  z-index: 1;
}
.popover__header {
  padding: 20px;

  font-weight: bold;
  border-bottom: 1px solid lightgrey;
}
.popover__body {
  min-height: 225px;
  padding: 30px 20px;
}
.popover .content {
  display: grid;
  grid-template: 24px 24px / 1fr 3fr 0.5fr;
  column-gap: 8px;
  place-items: center;
}
.popover .content__name {
  font-size: 13px;
  /* font-weight: bold; */
  color: hsl(219, 9%, 45%);
  justify-self: start;
}
.popover .content__price {
  color: hsl(219, 9%, 45%);
  justify-self: start;
  font-size: 14px;
}
.popover .content__img {
  grid-row: span 2;
  border-radius: 6px;
  height: 100%;
}
.popover .content__btn {
  grid-column: 3;
  grid-row: 1 / 3;

  cursor: pointer;
}

.offcanvas-bg {
  position: fixed;
  inset: 0;
  background-color: hsl(0 0% 0% / 0.75);
}
.offcanvas {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;

  width: 300px;
  padding: 24px 0 0 30px;

  background-color: white;
}
.offcanvas.active {
  animation: slide-in 0.5s;
}
@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.offcanvas__close-btn {
  margin-bottom: 48px;
}
.offcanvas__nav {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  font-weight: bold;
}

.product-group {
  display: grid;
  grid-gap: 16px;
  max-width: 480px;
  margin: 0 auto;
}
.product-image-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product-thumbnail {
  display: none;
}
.slider {
  position: relative;
}
.slider .btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 36px;
  height: 36px;

  background-color: white;
  border-radius: 50%;
}
.slider__btn-prev {
  position: absolute;
  top: 48%;
  left: 10px;
}
.slider__btn-next {
  position: absolute;
  top: 48%;
  right: 10px;
}
.slider .btn:active img,
.slider .btn:hover img {
  filter: invert(47%) sepia(99%) saturate(861%) hue-rotate(347deg)
    brightness(104%) contrast(103%);
}

.product__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px 40px;
}
.product__sub-title {
  font-size: 12px;
  font-weight: bold;
  color: hsl(26, 100%, 55%);
  letter-spacing: 1.5px;
  margin-bottom: 12px;
}
.product__title {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0px;
  margin-bottom: 16px;
}
.product__desc {
  font-size: 14px;
  color: hsl(219, 9%, 45%);
  letter-spacing: 0.1px;
  line-height: 1.8;
  margin-bottom: 28px;
}
.product-price-group {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 42px;
}
.product-price-discount-group {
  display: flex;
  align-items: start;
  gap: 16px;
}
.price-w-discount {
  font-size: 14px;
  color: hsl(220, 14%, 75%);
  font-weight: bold;
  text-decoration: line-through;
}
.product-price {
  font-size: 24px;
  font-weight: bold;
}
.discount {
  padding: 0.4em;
  background-color: hsl(25, 100%, 94%);
  font-size: 14px;
  font-weight: bold;
  color: hsl(26, 100%, 55%);
  border-radius: 5px;
}
.product__btn-group {
  display: grid;
  grid-template-rows: 50px 50px;
  grid-gap: 10px;
}
.product__btn-quantity-group {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  background-color: hsl(223, 64%, 98%);
  border-radius: 10px;
  overflow: hidden;
}
.product__btn-quantity-group button {
  padding: 0 20px;
}
.product__btn-quantity-group button:active,
.product__btn-quantity-group button:hover {
  background-color: hsl(223, 64%, 94%);
}
.product__btn-quantity-group .quantity {
  font-weight: bold;
  align-self: center;
}
.product__btn-add {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: hsl(26, 100%, 55%);
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
.product__btn-add:active,
.product__btn-add:hover {
  background-color: hsl(26, 100%, 65%);
}
.product__btn-add img {
  filter: brightness(3);
}

.lightbox {
  position: fixed;
  inset: 0;

  display: none;
  justify-content: center;
  align-items: center;

  background-color: hsl(0 0% 0% / 0.75);
}
.lightbox__body {
  max-width: 420px;
}
.lightbox__btn-close {
  margin-left: auto;
  margin-bottom: 16px;
}
.lightbox__btn-close img {
  width: 16px;
  filter: brightness(90);
}
.lightbox__btn-close:active img,
.lightbox__btn-close:hover img {
  filter: invert(47%) sepia(99%) saturate(861%) hue-rotate(347deg)
    brightness(104%) contrast(103%);
}
.lightbox__thumbnail {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;

  max-width: 360px;
  margin: 28px auto 0;
}
.lightbox__main {
  position: relative;
}
.lightbox .btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 48px;
  height: 48px;

  background-color: white;
  border-radius: 50%;
}
.lightbox .btn:active img,
.lightbox .btn:hover img {
  filter: invert(47%) sepia(99%) saturate(861%) hue-rotate(347deg)
    brightness(104%) contrast(103%);
}
.lightbox__btn-prev {
  position: absolute;
  top: 48%;
  left: -5%;
}
.lightbox__btn-next {
  position: absolute;
  top: 48%;
  right: -5%;
}
.lightbox__main-img {
  border-radius: 10px;
}
.lightbox__thumbnail-img {
  position: relative;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid transparent;
  overflow: hidden;
}
.lightbox__thumbnail-img:hover:after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #bbbbbbbb;
}
.lightbox__thumbnail-img.active:after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #dddddddd;
  border: 2px solid hsl(26, 100%, 55%);
}
.attribution {
  text-align: center;
  line-height: 50px;
}
.attribution a {
  display: inline;
  text-decoration: revert;
  color: revert;
}

@media screen and (min-width: 360px) {
  .popover {
    left: unset;
    right: 3vw;

    width: 100%;
    max-width: 310px;
  }
}

@media screen and (min-width: 576px) {
  .container {
    /* max-width: 540px; */
    margin: 0 auto;
  }
  .product-group {
    padding: 36px 0;
    grid-gap: 40px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .navbar__icon-menu {
    display: none;
  }
  .navbar {
    padding: 0;
  }
  .navbar__left-side {
    gap: 36px;
  }
  .navbar__right-side {
    gap: 30px;
  }
  .navbar__nav {
    display: flex;
    gap: 24px;
  }
  .navbar__avatar {
    width: 36px;
  }
  .product-group {
    grid-template-columns: 1fr 1.2fr;
    max-width: unset;
    padding: 60px 0;
    grid-gap: 24px;
  }
  .slider__img {
    cursor: pointer;
    border-radius: 10px;
  }
  .slider .btn {
    display: none;
  }
  .product-thumbnail {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  .product-thumbnail__img {
    position: relative;
    cursor: pointer;
    border-radius: 12px;
    overflow: hidden;
    border: 2px solid transparent;
  }
  .product-thumbnail__img:hover:after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #bbbbbbbb;
  }
  .product-thumbnail__img.active {
    border: 2px solid hsl(26, 100%, 55%);
  }
  .product-thumbnail__img.active:after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #dddddddd;
  }
  .product__body {
    padding: 0;
  }
  .product-price-group {
    flex-direction: column;
    gap: 10px;
  }
  .product__btn-group {
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 50px;
  }
  .lightbox {
    display: flex;
  }
  .offcanvas-bg {
    display: none;
  }
  .popover {
    left: unset;
    right: unset;

    transform: translate(-220px, 170px);
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .navbar__avatar {
    width: 42px;
  }
  .navbar__left-side {
    gap: 52px;
  }
  .navbar__right-side {
    gap: 40px;
  }
  .navbar__nav {
    gap: 28px;
  }
  .product-group {
    grid-template-columns: 1fr 1fr;
    padding: 72px 36px;
    grid-gap: 58px;
  }
  .product__sub-title {
    font-size: 15px;
  }
  .product__title {
    font-size: 48px;
  }
  .product__desc {
    font-size: 16px;
  }
  .price-w-discount {
    font-size: 15px;
  }
  .discount {
    font-size: 15px;
  }
  .popover {
    transform: translate(-200px, 170px);
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .product-group {
    padding: 100px 48px;
    grid-gap: 120px;
  }
  .popover {
    transform: translate(-180px, 170px);
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
